{
  "extends": "seek",
  "plugins": ["@preconstruct/format-js-tag"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@preconstruct/format-js-tag/format": "error",
    "@typescript-eslint/consistent-type-imports": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc" },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "*.+(treat|less|css)",
            "group": "index",
            "position": "after",
            "patternOptions": { "matchBase": true }
          }
        ]
      }
    ]
  },
  "settings": {
    "jest": {
      "version": 27 // otherwise ESLint fails because it can't detect Jest version
    }
  }
}
